{% load static %}
<html>
<head>
<title>Blockchain based Event Detection and Trust Verification Using Natural Language Processing and Machine Learning</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
  <div class="main_resize">
    <div class="header">
      <div class="logo">
        <h1><span>Blockchain based Event Detection and Trust Verification Using Natural Language Processing and Machine Learning</span><small></small></h1>
      </div>
    </div>
    <div class="content">
      <div class="content_bg">
        <div class="menu_nav">
          <ul>
           <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'Login' %}">User Login Here</a></li>
      <li><a href="{% url 'Signup' %}">New User Signup Here</a></li>
     
   </ul>
          </ul>
        </div>
        <div class="hbg"><img src="{% static 'images/header_images.jpg' %}" width="915" height="286" alt="" /></div>

		{{ data }}

       <p align="justify"><font size="3" style="font-family: Comic Sans MS" color="black">Abstract-Social media network is one of the important parts of human life based on the recent
technologies and developments in terms of computer science area. This environment has become a famous
platform for sharing information and news on any topics and daily reports, which is the main era for collecting
data and data transmission. </p>
<p align="justify"><font size="3" style="font-family: Comic Sans MS" color="black">
There are various advantages of this environment, but in another point of view
there are lots of fake news and information that mislead the reader and user for the information needed.
Lack of trust-able information and real news of social media information is one of the huge problems
of this system. To overcome this problem, we have proposed an integrated system for various aspects of
blockchain and natural language processing (NLP) to apply machine learning techniques to detect fake news
and better predict fake user accounts and posts.
</p>
 
 
  </body>
</html>
